### List in Python

In [1]:
shan_portfolio = ["shan","Data Scientist","CTO"]

In [2]:
print(shan_portfolio)

['shan', 'Data Scientist', 'CTO']

In [3]:
print(type(shan_portfolio))

<class 'list'>

In [21]:
shan_resume = [
    "My name is ",
    "i am a",
    "my position is"
    ]

In [22]:
res= shan_resume[0] + shan_portfolio[0]
print(res)

My name is shan

In [23]:
print(shan_portfolio)

['shan', 'Data Scientist', 'CTO']

In [24]:
print(res)

My name is shan

In [30]:
shan_portfolio = ["shan","Data Scientist","CTO"]
shan_portfolio.append("DRDO")
print(shan_portfolio)

['shan', 'Data Scientist', 'CTO', 'DRDO']

### For Loops With List

In [31]:
sfk_features = [
    "Cortex",
    "Snowflake Intellengce",
    "Snowpark",
    "Postgres",
    "OpenFlow"
]

In [32]:
print (sfk_features)

['Cortex', 'Snowflake Intellengce', 'Snowpark', 'Postgres', 'OpenFlow']

In [35]:
print(sfk_features[0])

Cortex

In [36]:
for features in sfk_features:
    print(features)

Cortex
Snowflake Intellengce
Snowpark
Postgres
OpenFlow

In [45]:
sfk=[]
for features in sfk_features:
    print(features)
    sfk.append(features)
print(sfk)

Cortex
Snowflake Intellengce
Snowpark
Postgres
OpenFlow
['Cortex', 'Snowflake Intellengce', 'Snowpark', 'Postgres', 'OpenFlow']

In [47]:
print(sfk)

['Cortex', 'Snowflake Intellengce', 'Snowpark', 'Postgres', 'OpenFlow']

In [87]:
for snowflake in sfk_features:
    prompt = f"""
          Below are the Snowflake features available in 2026
          Features : {snowflake}
    """
    print(prompt)

          Below are the Snowflake features available in 2026
          Features : Cortex


          Below are the Snowflake features available in 2026
          Features : Snowflake Intellengce


          Below are the Snowflake features available in 2026
          Features : Snowpark


          Below are the Snowflake features available in 2026
          Features : Postgres


          Below are the Snowflake features available in 2026
          Features : OpenFlow

In [81]:
for epl in epl_club:
    prompt = f"""Below are the epl club Winners
epl_winners : {epl}
    """
    print(prompt)

Below are the epl club Winners
epl_winners : Arsenal

Below are the epl club Winners
epl_winners : Mancity

Below are the epl club Winners
epl_winners : Man united

Below are the epl club Winners
epl_winners : Chlesea

### Dictionaries in Python

--- Key:Value Pairs

In [96]:
shan_portfolio = {
                  "ind_stock": ["Jiofin","Groww","hdfcbank"],
                  "usa_stock": ["Apple","Meta","Amazon"]
                  }

In [99]:
print(shan_portfolio.keys())
print(shan_portfolio.values())

dict_keys(['ind_stock', 'usa_stock'])
dict_values([['Jiofin', 'Groww', 'hdfcbank'], ['Apple', 'Meta', 'Amazon']])

In [106]:
stock = shan_portfolio["ind_stock"]
print(stock)

['Jiofin', 'Groww', 'hdfcbank']

In [107]:
shan_portfolio["crypto"] = ["Bitcoin","XRP"]

In [108]:
print(shan_portfolio)

{'ind_stock': ['Jiofin', 'Groww', 'hdfcbank'], 'usa_stock': ['Apple', 'Meta', 'Amazon'], 'crypto': ['Bitcoin', 'XRP']}

In [109]:
ind_stock = ["JioFin",
             "HdfcBank",
             "Cub",
             "Tcs"]

usa_stock = ["Aaple",
             "Meta",
             "Amzn",
             "Mfst",
             "Sofi"]

Crypto = ["Bitcoin",
          "Xrp",
          "Eth"]

In [112]:
shan_stocks = {"indian_stock": ind_stock,
               "usa_stock" : usa_stock,
               "Crypto_stock": Crypto}

In [113]:
print(shan_stocks)

{'indian_stock': ['JioFin', 'HdfcBank', 'Cub', 'Tcs'], 'usa_stock': ['Aaple', 'Meta', 'Amzn', 'Mfst', 'Sofi'], 'Crypto_stock': ['Bitcoin', 'Xrp', 'Eth']}

In [120]:
for category, stocks in shan_stocks.items():
    print(f"\n{category}:")
    for stock in stocks:
        print(f"  - {stock}")

indian_stock:
  - JioFin
  - HdfcBank
  - Cub
  - Tcs

usa_stock:
  - Aaple
  - Meta
  - Amzn
  - Mfst
  - Sofi

Crypto_stock:
  - Bitcoin
  - Xrp
  - Eth

In [137]:
#List with Dictionaries

shan_data = {
    "Name" : "Shan",
    "Company" : ["DTCC","Snowflake"],
    "Position" : "CTO",
    "Salary" : 4000000 
}

In [142]:
job_description = f""" 
Enter your Name : {shan_data["Name"]}
Enter your Company : {shan_data["Company"]} 
"""

In [143]:
print(job_description)

Enter your Name : Shan
Enter your Company : ['DTCC', 'Snowflake']

In [158]:
# List with Dictionary 

shan_ind_stock = {"nifty_50" : ["Tcs","Jio","HDFC"]}
shan_us_stock = {"Nyse" : ["AAPL","Meta","Amazon"]}
shan_crypto = {"Binance" : ["Bitcoin","XRP","Eth"]}

In [159]:
print(type(shan_ind_stock))

<class 'dict'>

In [160]:

print(shan_ind_stock["nifty_50"])

['Tcs', 'Jio', 'HDFC']

In [161]:
shan_stocks = {"ind" : shan_ind_stock,
               "usa" : shan_us_stock,
               "crypto" : shan_crypto}

print(shan_stocks)

{'ind': {'nifty_50': ['Tcs', 'Jio', 'HDFC']}, 'usa': {'Nyse': ['AAPL', 'Meta', 'Amazon']}, 'crypto': {'Binance': ['Bitcoin', 'XRP', 'Eth']}}

In [172]:
for category,stock in shan_stocks.items():
    print(f"\n {category}")
    for stocks in stock:
        print(f" {stock}")

 ind
 {'nifty_50': ['Tcs', 'Jio', 'HDFC']}

 usa
 {'Nyse': ['AAPL', 'Meta', 'Amazon']}

 crypto
 {'Binance': ['Bitcoin', 'XRP', 'Eth']}

### Data Comparision in python

In [175]:
shan_age = 36
henry_age = 52
Tom_age = 60
sfk_age = 36

In [ ]:
# Simple Boolean expression
game_age = shan_age < Tom_age
print(game_age)

True

In [181]:

game_age1 = shan_age >= sfk_age
print(game_age1)
game_age2 = shan_age <= Tom_age
print(game_age2)
game_age3 = shan_age == henry_age
print (game_age3)

True
True
False

In [183]:
# And Or Boolean Expression 

bool_exp1 = game_age3 and game_age2
print(bool_exp1)
bool_exp2 = game_age3 or game_age2
print (bool_exp2)

False
True

In [184]:
ages = dict(shan = 36,Tom = 52, john = 49, paul = 29)

In [187]:
print (type(ages))

<class 'dict'>

In [192]:
for name,age in ages.items():
    print (f" Please find the names of attende with ages: {name} {age}")

 Please find the names of attende with ages: shan 36
 Please find the names of attende with ages: Tom 52
 Please find the names of attende with ages: john 49
 Please find the names of attende with ages: paul 29

In [236]:
DataScientist_Job = [{"Company Name" : "Snowflake","job_description":"Need to be Data Scientist","Salary":4000000},
                     {"Company Name": "Tiger Analytics","job_description":"Need to be snowflake and Data scientist","Salary":3900000},
                     {"Company Name": "DTCC","job_description":"Need to be snowflake and Data scientist","Salary":3800000}]

In [242]:
print(DataScientist_Job)

[{'Company Name': 'Snowflake', 'job_description': 'Need to be Data Scientist', 'Salary': 4000000}, {'Company Name': 'Tiger Analytics', 'job_description': 'Need to be snowflake and Data scientist', 'Salary': 3900000}, {'Company Name': 'DTCC', 'job_description': 'Need to be snowflake and Data scientist', 'Salary': 3800000}]

In [243]:
shan_perfect_company = []
shan_not_perfect_company = []

for salary in DataScientist_Job:
    if salary["Salary"] >= 3900000:
        job = {"Company" : salary["Company Name"],
               "Description" : salary["job_description"],
               "Salary" : salary["Salary"]}
        print(f"Shan you can Apply")
        print(job)
        shan_perfect_company.append(job)
    elif salary["Salary"] <= 3900000:
        job1 = {"Company" : salary["Company Name"],
                "Description" : salary["job_description"],
              "Salary" : salary["Salary"]}
        print(f"Shan Dont Apply")
        print(job1)
        shan_not_perfect_company.append(job1)

Shan you can Apply
{'Company': 'Snowflake', 'Description': 'Need to be Data Scientist', 'Salary': 4000000}
Shan you can Apply
{'Company': 'Tiger Analytics', 'Description': 'Need to be snowflake and Data scientist', 'Salary': 3900000}
Shan Dont Apply
{'Company': 'DTCC', 'Description': 'Need to be snowflake and Data scientist', 'Salary': 3800000}

In [241]:
print(shan_perfect_company)

[{'Company': 'Snowflake', 'Description': 'Need to be Data Scientist', 'Salary': 4000000}, {'Company': 'Tiger Analytics', 'Description': 'Need to be snowflake and Data scientist', 'Salary': 3900000}]

In [240]:
print(shan_not_perfect_company)

[{'Company': 'DTCC', 'Description': 'Need to be snowflake and Data scientist', 'Salary': 3800000}]

In [246]:
colors = [
         "Blue",
         "Green",
         "Yellow",
         "Red"
]

for color in colors:
       prompt = f"""My favourite color is {color}"""
print(prompt)

My favourite color is Red

In [247]:
vegetable_descriptions = {
    "carrot": "Orange and crunchy",
     "potato": "Brown and starchy",
     "tomato": "Red and juicy",
      "onion": "White and pungent"
}

In [249]:
print(vegetable_descriptions["carrot"])

Orange and crunchy

In [250]:
person_contact = {
    "name": "Isabel",
    "age": 29,
    "phone number": "+1-234-5678"
}

In [251]:
person_contact["age"] = 30

In [252]:
print(person_contact)

{'name': 'Isabel', 'age': 30, 'phone number': '+1-234-5678'}