### List in Python

In [1]:
shan_portfolio = ["shan","Data Scientist","CTO"]

In [2]:
print(shan_portfolio)

['shan', 'Data Scientist', 'CTO']

In [3]:
print(type(shan_portfolio))

<class 'list'>

In [21]:
shan_resume = [
    "My name is ",
    "i am a",
    "my position is"
    ]

In [22]:
res= shan_resume[0] + shan_portfolio[0]
print(res)

My name is shan

In [23]:
print(shan_portfolio)

['shan', 'Data Scientist', 'CTO']

In [24]:
print(res)

My name is shan

In [30]:
shan_portfolio = ["shan","Data Scientist","CTO"]
shan_portfolio.append("DRDO")
print(shan_portfolio)

['shan', 'Data Scientist', 'CTO', 'DRDO']

### For Loops With List

In [31]:
sfk_features = [
    "Cortex",
    "Snowflake Intellengce",
    "Snowpark",
    "Postgres",
    "OpenFlow"
]

In [32]:
print (sfk_features)

['Cortex', 'Snowflake Intellengce', 'Snowpark', 'Postgres', 'OpenFlow']

In [35]:
print(sfk_features[0])

Cortex

In [36]:
for features in sfk_features:
    print(features)

Cortex
Snowflake Intellengce
Snowpark
Postgres
OpenFlow

In [45]:
sfk=[]
for features in sfk_features:
    print(features)
    sfk.append(features)
print(sfk)

Cortex
Snowflake Intellengce
Snowpark
Postgres
OpenFlow
['Cortex', 'Snowflake Intellengce', 'Snowpark', 'Postgres', 'OpenFlow']

In [47]:
print(sfk)

['Cortex', 'Snowflake Intellengce', 'Snowpark', 'Postgres', 'OpenFlow']

In [87]:
for snowflake in sfk_features:
    prompt = f"""
          Below are the Snowflake features available in 2026
          Features : {snowflake}
    """
    print(prompt)

          Below are the Snowflake features available in 2026
          Features : Cortex


          Below are the Snowflake features available in 2026
          Features : Snowflake Intellengce


          Below are the Snowflake features available in 2026
          Features : Snowpark


          Below are the Snowflake features available in 2026
          Features : Postgres


          Below are the Snowflake features available in 2026
          Features : OpenFlow

In [81]:
for epl in epl_club:
    prompt = f"""Below are the epl club Winners
epl_winners : {epl}
    """
    print(prompt)

Below are the epl club Winners
epl_winners : Arsenal

Below are the epl club Winners
epl_winners : Mancity

Below are the epl club Winners
epl_winners : Man united

Below are the epl club Winners
epl_winners : Chlesea

### Dictionaries in Python

--- Key:Value Pairs

In [96]:
shan_portfolio = {
                  "ind_stock": ["Jiofin","Groww","hdfcbank"],
                  "usa_stock": ["Apple","Meta","Amazon"]
                  }

In [99]:
print(shan_portfolio.keys())
print(shan_portfolio.values())

dict_keys(['ind_stock', 'usa_stock'])
dict_values([['Jiofin', 'Groww', 'hdfcbank'], ['Apple', 'Meta', 'Amazon']])

In [106]:
stock = shan_portfolio["ind_stock"]
print(stock)

['Jiofin', 'Groww', 'hdfcbank']

In [107]:
shan_portfolio["crypto"] = ["Bitcoin","XRP"]

In [108]:
print(shan_portfolio)

{'ind_stock': ['Jiofin', 'Groww', 'hdfcbank'], 'usa_stock': ['Apple', 'Meta', 'Amazon'], 'crypto': ['Bitcoin', 'XRP']}

In [109]:
ind_stock = ["JioFin",
             "HdfcBank",
             "Cub",
             "Tcs"]

usa_stock = ["Aaple",
             "Meta",
             "Amzn",
             "Mfst",
             "Sofi"]

Crypto = ["Bitcoin",
          "Xrp",
          "Eth"]

In [112]:
shan_stocks = {"indian_stock": ind_stock,
               "usa_stock" : usa_stock,
               "Crypto_stock": Crypto}

In [113]:
print(shan_stocks)

{'indian_stock': ['JioFin', 'HdfcBank', 'Cub', 'Tcs'], 'usa_stock': ['Aaple', 'Meta', 'Amzn', 'Mfst', 'Sofi'], 'Crypto_stock': ['Bitcoin', 'Xrp', 'Eth']}

In [120]:
for category, stocks in shan_stocks.items():
    print(f"\n{category}:")
    for stock in stocks:
        print(f"  - {stock}")

indian_stock:
  - JioFin
  - HdfcBank
  - Cub
  - Tcs

usa_stock:
  - Aaple
  - Meta
  - Amzn
  - Mfst
  - Sofi

Crypto_stock:
  - Bitcoin
  - Xrp
  - Eth

In [137]:
#List with Dictionaries

shan_data = {
    "Name" : "Shan",
    "Company" : ["DTCC","Snowflake"],
    "Position" : "CTO",
    "Salary" : 4000000 
}

In [142]:
job_description = f""" 
Enter your Name : {shan_data["Name"]}
Enter your Company : {shan_data["Company"]} 
"""

In [143]:
print(job_description)

Enter your Name : Shan
Enter your Company : ['DTCC', 'Snowflake']

In [158]:
# List with Dictionary 

shan_ind_stock = {"nifty_50" : ["Tcs","Jio","HDFC"]}
shan_us_stock = {"Nyse" : ["AAPL","Meta","Amazon"]}
shan_crypto = {"Binance" : ["Bitcoin","XRP","Eth"]}

In [159]:
print(type(shan_ind_stock))

<class 'dict'>

In [160]:

print(shan_ind_stock["nifty_50"])

['Tcs', 'Jio', 'HDFC']

In [161]:
shan_stocks = {"ind" : shan_ind_stock,
               "usa" : shan_us_stock,
               "crypto" : shan_crypto}

print(shan_stocks)

{'ind': {'nifty_50': ['Tcs', 'Jio', 'HDFC']}, 'usa': {'Nyse': ['AAPL', 'Meta', 'Amazon']}, 'crypto': {'Binance': ['Bitcoin', 'XRP', 'Eth']}}

In [172]:
for category,stock in shan_stocks.items():
    print(f"\n {category}")
    for stocks in stock:
        print(f" {stock}")

 ind
 {'nifty_50': ['Tcs', 'Jio', 'HDFC']}

 usa
 {'Nyse': ['AAPL', 'Meta', 'Amazon']}

 crypto
 {'Binance': ['Bitcoin', 'XRP', 'Eth']}

### Data Comparision in python

In [175]:
shan_age = 36
henry_age = 52
Tom_age = 60
sfk_age = 36

In [ ]:
# Simple Boolean expression
game_age = shan_age < Tom_age
print(game_age)

True

In [181]:

game_age1 = shan_age >= sfk_age
print(game_age1)
game_age2 = shan_age <= Tom_age
print(game_age2)
game_age3 = shan_age == henry_age
print (game_age3)

True
True
False

In [183]:
# And Or Boolean Expression 

bool_exp1 = game_age3 and game_age2
print(bool_exp1)
bool_exp2 = game_age3 or game_age2
print (bool_exp2)

False
True

In [184]:
ages = dict(shan = 36,Tom = 52, john = 49, paul = 29)

In [187]:
print (type(ages))

<class 'dict'>

In [192]:
for name,age in ages.items():
    print (f" Please find the names of attende with ages: {name} {age}")

 Please find the names of attende with ages: shan 36
 Please find the names of attende with ages: Tom 52
 Please find the names of attende with ages: john 49
 Please find the names of attende with ages: paul 29

In [236]:
DataScientist_Job = [{"Company Name" : "Snowflake","job_description":"Need to be Data Scientist","Salary":4000000},
                     {"Company Name": "Tiger Analytics","job_description":"Need to be snowflake and Data scientist","Salary":3900000},
                     {"Company Name": "DTCC","job_description":"Need to be snowflake and Data scientist","Salary":3800000}]

In [242]:
print(DataScientist_Job)

[{'Company Name': 'Snowflake', 'job_description': 'Need to be Data Scientist', 'Salary': 4000000}, {'Company Name': 'Tiger Analytics', 'job_description': 'Need to be snowflake and Data scientist', 'Salary': 3900000}, {'Company Name': 'DTCC', 'job_description': 'Need to be snowflake and Data scientist', 'Salary': 3800000}]

In [243]:
shan_perfect_company = []
shan_not_perfect_company = []

for salary in DataScientist_Job:
    if salary["Salary"] >= 3900000:
        job = {"Company" : salary["Company Name"],
               "Description" : salary["job_description"],
               "Salary" : salary["Salary"]}
        print(f"Shan you can Apply")
        print(job)
        shan_perfect_company.append(job)
    elif salary["Salary"] <= 3900000:
        job1 = {"Company" : salary["Company Name"],
                "Description" : salary["job_description"],
              "Salary" : salary["Salary"]}
        print(f"Shan Dont Apply")
        print(job1)
        shan_not_perfect_company.append(job1)

Shan you can Apply
{'Company': 'Snowflake', 'Description': 'Need to be Data Scientist', 'Salary': 4000000}
Shan you can Apply
{'Company': 'Tiger Analytics', 'Description': 'Need to be snowflake and Data scientist', 'Salary': 3900000}
Shan Dont Apply
{'Company': 'DTCC', 'Description': 'Need to be snowflake and Data scientist', 'Salary': 3800000}

In [241]:
print(shan_perfect_company)

[{'Company': 'Snowflake', 'Description': 'Need to be Data Scientist', 'Salary': 4000000}, {'Company': 'Tiger Analytics', 'Description': 'Need to be snowflake and Data scientist', 'Salary': 3900000}]

In [240]:
print(shan_not_perfect_company)

[{'Company': 'DTCC', 'Description': 'Need to be snowflake and Data scientist', 'Salary': 3800000}]

In [246]:
colors = [
         "Blue",
         "Green",
         "Yellow",
         "Red"
]

for color in colors:
       prompt = f"""My favourite color is {color}"""
print(prompt)

My favourite color is Red

In [247]:
vegetable_descriptions = {
    "carrot": "Orange and crunchy",
     "potato": "Brown and starchy",
     "tomato": "Red and juicy",
      "onion": "White and pungent"
}

In [249]:
print(vegetable_descriptions["carrot"])

Orange and crunchy

In [250]:
person_contact = {
    "name": "Isabel",
    "age": 29,
    "phone number": "+1-234-5678"
}

In [251]:
person_contact["age"] = 30

In [252]:
print(person_contact)

{'name': 'Isabel', 'age': 30, 'phone number': '+1-234-5678'}

In [1]:
book = {"title" : "To Kill a Mockingbird",
       "author" : "Harper Lee",
       "on_shelf" : False,
       "borrower" : "Arthur Dent",
       "overdue" : True,
       "on_hold": False}

In [2]:
print(book)

{'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'on_shelf': False, 'borrower': 'Arthur Dent', 'overdue': True, 'on_hold': False}

# Excercise 2
Write an if/else statement that determines whether the book is available to borrow.

If the book is on_shelf (meaning on_shelf is True) and it's not on_hold (meaning on_hold is False), print: "Book is available to be borrowed".
Else, print: "Book is not available to be borrowed".

Use the same book variable you defined in Exercise 1.

Notice that these two messages are static (you don't need to change them according to the value of a certain variable). Because of this use regular strings and NOT f-strings. It is a good practice to only use f-strings when necessary.

In [4]:
if book['on_shelf'] == True and book['on_hold'] == False:
    print("Book is available to download")
else:
    print("Book is not available to be borrowed")

Book is not available to be borrowed

### Exercise 3: On Hold or Overdue? â³
Sadly, it turns out that "To Kill a Mockingbird" is currently checked out. ðŸ˜© However, the interested reader would like to be next in line! You need to put the book on hold for them, but first, you want to check if it's overdue.

Your Task:

Write an if/else statement that does the following:

If the book is overdue (meaning overdue is True), print: "Book is overdue - Contact <Borrower's name> to return it" (make sure to replace <Borrower's name> with the actual borrower's name from the dictionary book). You should use an f-string to insert the borrower's name.
Else:
Set the on_hold status of the book to True because you're now placing it on hold for the next reader.
Print: "Book has been put on hold".
Use the same book variable you defined in Exercise 1.
Notice that one of these two messages is static, while the other needs to change according to the name of the borrower. Because of this use a regular string for one and an f-string for the other. Remember, it is a good practice to only use f-strings when necessary.

In [5]:
### START CODE HERE 

### Create an if/else statement
### Check if "book['overdue']" equals "True"
### Add your if statement here
    
    # Print "Book is overdue - Contact <Borrower's name> to return it"
    # Hint: Use print with f-string to get "book['borrower']"'s name
    # Add your print here
    
### Add your else statement here
    
    # Set "book['on_hold']" to "True"
    # Add your print here
    
    # Print "Book has been put on hold"
    # Add your print here

### END CODE HERE ###
### START CODE HERE ###

### START CODE HERE ###

# Create an if/else statement
# Check if "book['overdue']" equals "True"
# Add your if statement here
    
    # Print "Book is overdue - Contact <Borrower's name> to return it"
    # Hint: Use print with f-string to get "book['borrower']"'s name
    # Add your print here
    
# Add your else statement here
    
    # Set "book['on_hold']" to "True"
    # Add your print here
    
    # Print "Book has been put on hold"
    # Add your print here

### END CODE HERE ###

print(book)

{'title': 'To Kill a Mockingbird', 'author': 'Harper Lee', 'on_shelf': False, 'borrower': 'Arthur Dent', 'overdue': True, 'on_hold': False}

In [10]:
if book['overdue'] == True:
    print(f"Book is overdue - Contact {book['borrower']} to return it")
else:
    if book['on_hold'] == True:
        print(f"Book has been put on hold")

Book is overdue - Contact Arthur Dent to return it

### Exercise 4: Tracking Down the Borrower ðŸ”Ž

"To Kill a Mockingbird" is indeed overdue! It seems Arthur Dent has been enjoying it a little too long. You need to send him a friendly reminder email. However, you only have his name â€“ you need to find his email address from the library's records.

You have a list called borrowers_list (provided below) that contains dictionaries. Each dictionary in the list represents a borrower and has their name, email, and phone. Your task is to find Arthur Dent's email address from this list. Run the cell below to load the list.

In [11]:
# List of dictionaries with borrower contact information
borrowers_list = [
    {
        "name": "Alice Johnson",
        "email": "alice.johnson@dlailibrary.com",
        "phone": "+1111111111"
    },
    {
        "name": "Bob Smith",
        "email": "bob.smith@dlailibrary.com",
        "phone": "+2222222222"
    },
    {
        "name": "Arthur Dent",
        "email": "arthur.dent@dlailibrary.com",
        "phone": "+3333333333"
    },
    {
        "name": "Diana Prince",
        "email": "diana.prince@dlailibrary.com",
        "phone": "+4444444444"
    }
]

In [12]:
print(borrowers_list)

[{'name': 'Alice Johnson', 'email': 'alice.johnson@dlailibrary.com', 'phone': '+1111111111'}, {'name': 'Bob Smith', 'email': 'bob.smith@dlailibrary.com', 'phone': '+2222222222'}, {'name': 'Arthur Dent', 'email': 'arthur.dent@dlailibrary.com', 'phone': '+3333333333'}, {'name': 'Diana Prince', 'email': 'diana.prince@dlailibrary.com', 'phone': '+4444444444'}]

Your Task: Get Arthur Dent's email from your records of borrowers_list

Use a for loop to iterate through borrowers_list.
Check if the name in book['borrower'] matches with a "name" present in the borrowers_list
If the name matches, store the corresponding "email" in a variable borrower_email
Use the same book variable you defined in Exercise 1.

In [16]:
for borrower in borrowers_list:
    if book['borrower'] == borrower['name']:
        borrower_email = borrower['email']
        

print(f"{book['borrower']}'s email is: {borrower_email}")

Arthur Dent's email is: arthur.dent@dlailibrary.com

In [17]:
# Name of the borrower
person_name = book['borrower']

# Name of the book
book_name = book['title']

# Name of book's author
book_author = book['author']

# Due Date
due_date = "16 November 2024"

In [18]:
print(f"Please write a polite email to {person_name}, reminding them to return the book {book_name} by {book_author}.  The book was due on {due_date}")

Please write a polite email to Arthur Dent, reminding them to return the book To Kill a Mockingbird by Harper Lee.  The book was due on 16 November 2024